rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /assets/{document=**} {
      allow read, write: if true;
    }
    match /sops/{document=**} {
      allow read, write: if true;
    }
    match /contacts/{document=**} {
      allow read, write: if true;
    }
    match /dashTasks/{document=**} {
      allow read, write: if true;
    }
    match /meta/{document=**} {
      allow read, write: if true;
    }
    match /crmCustomers/{document=**} {
      allow read, write: if true;
    }
    match /crmMeta/{document=**} {
      allow read, write: if true;
    }
    match /quotes/{quoteId} {
      allow read, write: if true;
      match /activity/{activityId} {
        allow read, write: if true;
      }
      match /messages/{messageId} {
        allow read, write: if true;
      }
      match /emails/{emailId} {
        allow read, write: if true;
      }
    }
  }
}
